.icon {
  display: inline-block;
  color: #111;
  height: 1em;
  width: 1em
}

.icon-xs {
  height: .5em;
  width: .5em
}

.icon-sm {
  height: .8em;
  width: .8em
}

.icon-lg {
  height: 1.6em;
  width: 1.6em
}

.icon-xl {
  height: 2em;
  width: 2em
}

.icon {
  fill: currentColor;
  stroke: none
}
